$color-white: #ffffff;
$color-white-dark: #eeeeee;
$color-bg-1: #333;
$color-bg-2: #fafafa;
$color-accent-1: #3d19c5; // #785aea
$color-text-1: #2a2638;
$color-text-light: #888888;
$color-separator-1: #eeeeee;
$font-family-1: 'Sarabun', serif;