@import './vendor/media-smart';
@import './vendor/normalize';
@import './comps/variables';
@import './comps/elements';
@import './comps/base';

@import './sections/header';
@import './sections/intro';
@import './sections/cta';
@import './sections/features';
@import './sections/footer';
@import './sections/demo';
@import './sections/sandbox';

.ph-banner {
    padding: 0.1px 0;
    background: #da552f;
    color: $color-white;

    h2 {
        margin: 80px 0;
    }

    a {
        color: $color-white;
        text-decoration: underline;
    }
}