#features {
    .items {
        & > div {
            position: relative;
        }

            .icon {
                font-size: 1.75em;
                position: absolute;
                    top: 3px;
                    left: 0;
                fill: $color-accent-1;
            }

                .content {
                    padding-left: 48px;
                }

                h3 {
                    margin: 0;
                    margin-bottom: 10px;
                    color: $color-accent-1;
                }

                p {
                    margin: 0;
                }

        @include media-larger('xs') {
            display: flex;
            flex-flow: row wrap;

            & > div {
                width: 50%;
                padding-right: 40px;
                box-sizing: border-box;

                &:not(:nth-last-of-type(-n+2)) {
                    margin-bottom: 60px;
                }
            }
        }

        @include media-smaller('sm') {
            & > div {
                margin: 40px 0;
            }
        }
    }

    .info {
        display: block;
        margin: 60px auto;

        text-align: center;
        color: $color-text-light;

        code {
            color: $color-text-1;
        }
    }

    .cta {
        margin: 100px 0;
        text-align: center;
    }
}